* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: white;
  }

  nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: white;
  }
  

  section {
    padding-top: 20px;
    margin-right: 10px;
  }
    

 aside {
   padding-top: 20px;
   margin-left: 10px; 
 }

 aside, section {
  float: left;
  width: 470px;
  height: 300px;
  margin-bottom: 10px;
  background: white;
}

article {
  color: #ebebeb;
  background: #777;
  width: 450px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px; 
}

h4, #containergrey {
  background: white;
  margin: 15px;
  color:#777;
}


footer {
  padding: 40px;
  clear: both;
  color:#777;
  background: white;
}
  
  